<form action="/api/products" method="post" enctype="multipart/form-data">
    <label>Nombre: </label> <input type="text" name="title"/> <br/> <br/>
    <label>Description: </label> <input type="text" name="description"/> <br/> <br/>
    <label>Code: </label> <input type="text" name="code"/> <br/> <br/>
    <label>Precio: </label> <input type="number" name="price"/> <br/> <br/>
    <label>Disponible: </label> <input type="text" name="available"/> <br/> <br/>
    <label>Stock: </label> <input type="number" name="stock"/> <br/> <br/>
    <label>Categoria: </label> <input type="text" name="category"/> <br/> <br/>
    <label>Thumbnail: </label> <input type="file" name="file"/> <br/> <br/>
    <button type="submit">Enviar</button>
</form>